header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 49.48px 95px 51px;
  color: #000;
  font-size: 18px;
}

.header-menu {
  align-self: center;
}

.header-menu-list {
  /* для всего списка*/
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
}

.header-menu-list_item a {
  /* для всего списка */
  text-decoration: none;
}

.header-menu-list_a {
  /* лоты и эбаут */
  text-decoration: underline;
  text-decoration-color: black;
}

.header__links-list-item_no-bullit {
  /* главная */
  text-decoration: none;
  list-style-type: none;
}

.header-logo {
  width: 100%;
  max-width: 148px;
  max-height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}

address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  justify-self: end;
  padding-right: 38px;
  line-height: 1.35;
  font-size: 18px;
  color: black;
  margin: 0;
}

.address_undercose a {
  text-decoration: underline;
  color: black;
}

.address_no-undercose {
  color: black;
  white-space: nowrap;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.aligned-text {
  position: relative;
  z-index: 2;
  width: 1000px;
  padding: 150px 0 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  justify-items: center;
  align-items: center;
}

.aligned-text-item {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  color: white;
}

.aligned-text_left {
  /* ОНО */
  grid-column: 1;
  grid-row: 1;
  letter-spacing: 30px;
}

.aligned-text_center {
  /* ТЕБЕ */
  grid-column: 2;
  grid-row: 2;
  letter-spacing: 25px;
  margin-left: 15px;
  margin-top: 20px;
}

.aligned-text_right {
  /* НАДО */
  grid-column: 3;
  grid-row: 3;
  letter-spacing: 30px;
  margin-left: -85px;
  margin-top: 20px;
}

.cover__description {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: white;
  z-index: 2;
  width: 100%; 
}

.cover__description-text {
  padding: 112px 0 0 50px; 
  line-height: 28px;
  word-spacing: 15px;
}

.bet-button {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin: 100px 50px 0 0;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 22px;
  color: white;
  cursor: pointer;
  outline: none;
}

.lots {
  width: 1052px;
  margin-top: 180px;
  margin-left: 25px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: 40px;
}

.lots__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.card {
  position: relative; 
  overflow: hidden;
  width: 33%;
  max-width: 334px;
  box-sizing: border-box;
  display: grid; 
  grid-template-areas: "content"; 
}

.card__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-area: content; 
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  grid-area: content; 
  z-index: 1; 
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card__text {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 30px;
  margin-left: 20px;
  word-spacing: 1.5px;
}

.card_text_book { 
 text-align: left; 
  color: white; 
  font-size: 20px; 
  font-style: normal; 
  font-weight: 400; 
  line-height: 120%; 
  margin-bottom: 30px; 
  margin-left: 20px; 
  gap: 10px;
  word-spacing: 1px; 
}

.lots__look-more-link {
  display: flex;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 15px;
  margin-left: 22px;
}

.about {
  width: 1052px;
  margin-left: 25px;
  margin-top: 97px;
  display: flex; 
  gap: 35px; 
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 37px 0 0 46px;
}

.about__description {
  margin: 145px 0 0 40px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 25px; /* Отступ под заголовком */
  color: #000; 
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 1px;
  color: #000; /* Чёрный цвет текста */
  max-width: 693px; /* Ограничиваем ширину текстового блока */
  margin-top: 100px;
}

.about__text p {
  margin-bottom: 25px; /* Небольшой отступ между абзацами */
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  height: 180px;
  margin-right: 40px;
  margin-top: 115px; /* для выравнивания внизу */
}

footer address {
  margin-right: 25px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-left: 45px;
}

.footer-menu-list {
  list-style: none;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.3s;
}

.footer-menu-list_none {
  text-decoration: none;
}

.footer-menu-list_a {
  text-decoration: underline;
}

.footer-menu-list a:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  justify-content: end;
  gap: 50px;
  list-style: none;
  margin-bottom: 51px;
  margin-right: 6px;
}

.footer-icons-list {
  display: flex;
  align-items: center;
}

.footer-icons-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer-icons-list img {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
}
